@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>Click register to get started or login if you already have an account</h5>
    <p>This is a basic planner for tracking the progress of projects that you are working on. It has a simple calander and
    tracks the different steps you need to go through in order to complete your projects</p>
</div>

