@model UserHomeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutUser";
}


<div class="row">
    <!-- Left Sidebar: User's Projects -->
    <div class="col-md-3">
        <h3>User's Projects</h3>
        <ul>
            @foreach (var project in Model.Projects)
            {
                <li>@project.Title</li>
            }
        </ul>
        <a asp-action="Create" asp-controller="Project" class="btn btn-primary">Create New Project</a>
    </div>

    <!-- Center: Calendar (Placeholder) -->
    <div class="col-md-6">
        <!-- Calendar goes here -->
        <div id="calendar-placeholder">
            <p>This is where the calendar will be displayed.</p>
        </div>
    </div>

    <!-- Right Sidebar: User's Project Tasks -->
    <div class="col-md-3">
        <h3>User's Project Tasks</h3>
        <ul>
            @foreach (var task in Model.ProjectTasks)
            {
                <li>@task.Title</li>
            }
        </ul>
    </div>
</div>

<script>$(document).ready(function () {
        // Initially, hide the form
        $('#create-project-form').hide();

        // Add click event to toggle form visibility
        $('#create-project-button').click(function () {
            $('#create-project-form').toggle();
        });
    });</script>

