@model UserHomeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutUser";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-4">
            <h3>User's Projects</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Finish Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model.Projects)
                    {
                        <tr>
                            <td>@project.Title</td>
                            <td>@project.Description</td>
                            <td>@project.Date</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="Create" asp-controller="Project" class="btn btn-primary">Create New Project</a>
        </div>

        <!-- Center: Calendar (Placeholder) -->
        <div class="col-md-6">
            <!-- Calendar goes here -->
            <div id="calendar-placeholder">
                <p>This is where the calendar will be displayed.</p>
            </div>
        </div>

        <!-- Right Sidebar: User's Project Tasks -->
        <div class="col-md-2">
            <h3>User's Project Tasks</h3>
            <ul>
                @foreach (var task in Model.ProjectTasks)
                {
                    <li>@task.Title</li>
                }
            </ul>
        </div>
    </div>
</div>
